.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  overflow: hidden;
  width: 877px;
  height: 877px;
  top: 0;
  position: absolute;
  display: flex;
  right: -210px;
}
