.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;   /*Обновление от 29.06.2022 Бушкова Полина, шрифт полужтрный - 600 */
  position: relative;
  align-self: center;
  z-index: 4;
}
